{% extends 'base.html.twig' %}

{% block title %}<h2>{{ 'erreur' | trans }}</h2>{% endblock title %}
 {% block traduction %}
     <li><a href="{{ path('error' , {'_locale' : 'fr'}) }}">FR</a></li>
     <li><a href="{{ path('error' , {'_locale' : 'en'}) }}">EN</a></li>
 {% endblock %}

{% block topButton %}
    <ul class="actions">
        <li><a href="{{ path("homepage") }}" class="button special big">{{ 'HOME_trad' | trans }}</a></li>
    </ul>
{% endblock topButton %}

{% block body %}


{% endblock %}