{% trans_default_domain 'FOSUserBundle' %}


{% block body %}


    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


            <form  action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}


                    <span >{{ 'username'|trans }}</span>
                    <input class="input100" type="text" id="username" name="_username" placeholder="Username">
                    <span class="focus-input100"></span>



                    <span>{{ 'password'|trans }}</span>
                    <input class="input100" type="password" id="password" name="_password" required="required" placeholder="Password">
                    <span class="focus-input100"></span>


						<span>
							 <input class="contact100-form-btn" type="submit" id="_submit" name="_submit" value="{{ 'submit'|trans }}" />
						</span>


            </form>





{% endblock body %}