{% extends 'base.html.twig' %}

{% block title %}<h2>{{ 'index.event_edit' | trans }}</h2>{% endblock title %}

{% block traduction %}
    {% if app.request.locale == "en" %}
        <li><a href="{{ path('evenement_edit' , {'_locale' : 'fr' , 'id': evenement.id}) }}">FR</a></li>
    {% else %}
        <li><a href="{{ path('evenement_edit' , {'_locale' : 'en' , 'id':evenement.id}) }}">EN</a></li>
    {% endif %}
{% endblock %}

{% block body %}


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}



            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

{% endblock %}
{% block rss %}

{% endblock %}